<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница не найдена</title>
</head>
<body>
    <hgroup>
        <h1>Страница не найдена.</h1>
        
        <a href="#">Вернуться на главную страницу</a>
    </hgroup>
</body>
</html>
